{
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"semi": true,
	"useTabs": true,
	"[html]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[css]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[less]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	},
	"[javascript]": {
		"editor.defaultFormatter": "esbenp.prettier-vscode"
	}
}
